<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">My Profile</h1>
    <ol class="breadcrumb mb-4"></ol>
    <ul>
      <li>First Name: <%= current_user.first_name %></li>
      <li>Last Name: <%= current_user.last_name %></li>
      <li>Email: <%= current_user.email %></li>
      <%= link_to 'Edit Profile', edit_user_path(current_user) %></td>
    </ul>
  </div>
</main>