<h1 class="mt-4">General Expenses</h1>

<%= render "layouts/breadcrumbs", page: "Expenses", family: @family %>

<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-comment-dollar"></i>
    Details
  </div>
  <div class="card-body">
    <table id="detailedExpensesTable">
      <%= render "expenses_table", expenditures: @family.expenditures.non_budget %>
    </table>
  </div>
</div>