<h1 class="mt-4">General Expenses</h1>

<%= render "layouts/breadcrumbs", page: "Expenses", family: @family %>

<div class="card mb-4">
  <div class="card-header">
    <i class="fa-solid fa-comment-dollar"></i>
    Details
    <% if @family.member_is_above_editor?(current_user) %>
      <%= link_to new_expenditure_path(family_id: @family.id) do %>
        <i class="fa-solid fa-circle-plus align-middle px-2 pb-1"></i>
      <% end %>
    <% end %>
  </div>
  <div class="card-body">
    <table id="detailedExpensesTable">
      <%= render "expenses_table", expenditures: @family.expenditures.non_budget %>
    </table>
  </div>
</div>